:root{
    --main-background: #FFFDFD;
    --main: #731963;
    --whitesmoke: #0B3C49;
    --darkgray:#0B3C49;
    --dark: #333333;
    --lightgray: #CBD2D0;
    --link: #42568A;
    --yellow: #F0E100;
    --pink: #DFB4D8;
    --silver: #f0eff2 /*#c1c1c1;*/

}
